.eachemployee{
    border-radius: 30px;
    background-color: #D2E3C8;
    padding: 15px !important;
    
    width: 45%;
    margin: 5px !important;
    cursor: pointer;
}
.emptexx{
    font-size: 32px;
}
.calisanlartext{

    color: #485662;
    font-weight: bold;
    font-size: 30px;
    margin: 20px 0 0 20px !important;
}
.cls{
    margin: 10px 0 0 10px !important;

}
.ct{
    
    color: #485662;
}
.col-10{
    height: 99%;
}

.mv{
    max-height: 100%;
}